<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deno Login/Register</title>
</head>

<body>
    <div class="container" style="max-width: 30rem">
        <h1>Welcome Stranger!</h1>
        <a href="/login">Login</a>
        or
        <a href="/register" class="btn btn-success">Register</a>
    </div>
    
</body>
</html>